# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Keynote presentation files
*.key

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699504348.MBP-von-Lukas-2.7677.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699504451.MBP-von-Lukas-2.7677.1
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511220.MBP-von-Lukas-2.8800.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511238.MBP-von-Lukas-2.8800.1
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511245.MBP-von-Lukas-2.8800.2
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511651.MBP-von-Lukas-2.9041.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511728.MBP-von-Lukas-2.9093.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511752.MBP-von-Lukas-2.9137.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699511891.MBP-von-Lukas-2.9199.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699512246.MBP-von-Lukas-2.9317.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699512520.MBP-von-Lukas-2.9433.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699512773.MBP-von-Lukas-2.9511.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699512934.MBP-von-Lukas-2.9593.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513251.MBP-von-Lukas-2.9720.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513451.MBP-von-Lukas-2.9804.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513506.MBP-von-Lukas-2.9839.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513577.MBP-von-Lukas-2.9894.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513619.MBP-von-Lukas-2.9920.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513890.MBP-von-Lukas-2.10017.0
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513898.MBP-von-Lukas-2.10017.1
torch_contextual_gate_calibration/runs/test/events.out.tfevents.1699513975.MBP-von-Lukas-2.10081.0
