matplotlib>=3.5.2
qiskit>=1.1.0
qiskit_aer>=0.13.3
qiskit_algorithms >= 0.3.0
qiskit_dynamics >= 0.5.0
qiskit_experiments>=0.7.0
qiskit_ibm_runtime>=0.24.1
scipy>=1.13.0
tqdm>=4.64.0
torch>=2.0.1
gymnasium>=0.29.1
jax>=0.4.30
jaxlib>=0.4.30
sympy2jax>=0.0.5
pyyaml>=6.0.1
optuna~=3.5.0
qualang-tools >= 0.17.4
pylatexenc>=2.10
chardet