matplotlib>=3.5.2
qiskit>=0.44
qiskit_aer>=0.12.2
qiskit_algorithms
qiskit_dynamics
qiskit_dynamics[jax]
qiskit_experiments>=0.5.2
qiskit_ibm_provider>=0.6.0
qiskit_ibm_runtime>=0.11.3
qiskit_terra>=0.25
scipy>=1.8.1
tensorflow>=2.12.0
tensorflow_probability>=0.17.0
tf_agents>=0.13.0
tqdm>=4.64.0

torch~=2.0.1
gymnasium>=0.29.1
pandas>=1.4.4
numpy>=1.26.2
jax>=0.4.20
symengine>=0.9.2
sympy>=1.12
sympy2jax>=0.0.5
yaml>=0.2.5
pyyaml>=6.0.1